<div class="shopping-cart">
    <h1>Shopping List</h1>
    <div class = "missing-items-shopping-cart">
        <%  @missing_items.each do |missing_item| %>
          <%= missing_item.food_item.name %><br>
        <% end %>
    </div>


    <h2>Find a supermarket near you</h2>

    <div class="map-filters">
      <%# <% @shops.each do |shop|%>
          <%#= link_to shop.name, shopping_cart_path(shop), class:"pill-box" %>
      <%# end %>
      <%= link_to "Edeka", shopping_cart_path(params[:id], filter: "Edeka"), class:"pill-box" %>
      <%= link_to "Rewe", shopping_cart_path(params[:id], filter: "Rewe"), class:"pill-box"%>
      <%= link_to "BioMarkt", shopping_cart_path(params[:id], filter: "BioMarkt"), class:"pill-box" %>
      <%= link_to "Lidl", shopping_cart_path(params[:id], filter: "Lidl"), class:"pill-box" %>
      <%= link_to "Aldi", shopping_cart_path(params[:id], filter: "Aldi"), class:"pill-box" %>
  </div>

<div data-controller="map"
id='map'
data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"
data-map-markers-value= "<%= @markers.to_json %>"
style='width: 370px; height: 300px;'>
</div>
 <%= link_to 'Back to Recipe List', recipes_path, class:"tertiary-btn"%>
</div>
