<div class="recipe-steps">

    <swiper-container class="mySwiper" pagination="true" pagination-type="progressbar" navigation="false">
        <% @recipe_steps.each_with_index do |step, i| %>
         <swiper-slide>
         <div class="recipe-step-img"><%= image_tag("recipe_imgs/recipe1cover.jpg")%></div>
          <p class="step-no">Step <%= i+=1 %></p>
          <p>Duration: <%= step.duration %></p>
          <p><%= step.description %></p>
          <% if i == @recipe_steps.count %>
          <%= render "reviews/review", review:@review, recipe:@recipe %>

          <% end %>
        </swiper-slide>
    <% end %>
    </swiper-container>
</div>
