<div class="recipe-card">
 <p>Recipe Name: <%= recipe.name %></p>
<p>Chef: <%= recipe.chef.first_name %>
  <%=recipe.chef.last_name  %></p>
  <% if recipe.reviews == true %>
  <p><%= recipe.reviews.first.rating %></p>
  <% else %>
 <p><%= "No reviews yet" %></p>
  <% end %>
  <%= link_to "See Recipe", recipe_path(recipe.id) %>
</div>
