<div class="recipe-page">
<h1>Choose your recipe</h1>
<h2> We have found  <%= @recipes.count%> recipes</h2>

  <% @recipes.each do |recipe| %>
  <div class="recipe-card">
      <div class="recipe-card-img">
      <% if recipe.id == 1 %>
      <%= image_tag("recipe_imgs/recipe1cover.jpg")%>
      <% elsif recipe.id == 2 %>
      <%= image_tag("recipe_imgs/recipe2cover.jpg")%>
      <% elsif recipe.id == 3 %>
      <%= image_tag("recipe_imgs/recipe3cover.jpg")%>
      <% elsif recipe.id == 4 %>
      <%= image_tag("recipe_imgs/recipe4cover.jpg")%>
        <% elsif recipe.id == 5 %>
      <%= image_tag("recipe_imgs/recipe5cover.jpg")%>
      <% elsif recipe.id == 6 %>
      <%= image_tag("recipe_imgs/recipe6cover.jpg")%>
      <% end %>
  </div>

    <div class="card-contents">
      <h3><%= recipe.name %></h3>
      <p class="chef-name">
           <%= icon("fa-solid fa-circle-check" , style:"color: #cc9191;") %>
           <%= recipe.chef.first_name %>
            <%=recipe.chef.last_name  %>
        </p>

      <% if recipe.reviews %>
      <p> <% average_rating = recipe.reviews.average(:rating) %>
        <%= average_rating ? average_rating.round(1) : 'No ratings yet' %>
        <span> out of <%= recipe.reviews.length %> reviews </span>
      </p>
      <% else %>
      <p><%= "No reviews yet" %>
      </p>
      <% end %>
      <p class="pill-box"> <%= icon("fa-solid fa-clock", style:"color: #ee7d45;") %> <%= recipe.duration%> min</p>
      <p class="pill-box">
        <%= icon("fa-solid fa-user", style: "color:#ee7d45;")%>
        <% if recipe.portion_size > 1 %>
        <%= recipe.portion_size%> portions
              <% else %>
                      <%= recipe.portion_size%> portion
                      <% end %>
        </p>
    </div>
          <%= link_to '', recipe_path(recipe), class:'recipe-card-link' %>
  </div>
  <% end %>
</div>
