<div class="bottom-nav flex-end">
<div class="bottom-nav-item">
<%= icon("fa-solid fa-house" , style:"color: $primary-color;") %>
<%=link_to "", root_path, class: 'btn-link'%>
</div>

<div class="bottom-nav-item">
<%= icon("fa-solid fa-magnifying-glass" , style:"color: $primary-color;") %>
<%=link_to "", food_categories_path, class: 'btn-link'%>
</div>

<div class="bottom-nav-item">
<%= icon("fa-solid fa-heart" , style:"color: $primary-color;") %>
<%=link_to "", saved_recipes_path, class: 'btn-link'%>
</div>

<% unless current_user.nil? %>

  <% if current_user.shopping_cart_id.present? %>
    <div class="bottom-nav-item">
      <%= icon("fa-solid fa-shopping-cart" , style:"color: $primary-color;") %>
      <%=link_to "", shopping_cart_path(ShoppingCart.where(user_id: current_user.id).last.id), class: 'btn-link' %>
    </div>
  <% else %>
    <div class="bottom-nav-item">
    </div>
  <% end %>

<% end %>


</div>
