<div class="bottom-nav flex-end">
<div class="bottom-nav-item">
<%= icon("fa-solid fa-house" , style:"color: $primary-color;") %>
<%=link_to "", root_path, class: 'btn-link'%>
</div>

<div class="bottom-nav-item">
<%= icon("fa-solid fa-magnifying-glass" , style:"color: $primary-color;") %>
<%=link_to "", root_path, class: 'btn-link'%>
</div>

<div class="bottom-nav-item">
<%= icon("fa-solid fa-heart" , style:"color: $primary-color;") %>
<%=link_to "", saved_recipes_path, class: 'btn-link'%>
</div>

<% if current_user.present? %>
  <div class="bottom-nav-item">
  <%= icon("fa-solid fa-shopping-cart" , style:"color: $primary-color;") %>
  <%=link_to "", shopping_cart_path(ShoppingCart.find_by(user_id: current_user.id).id) %>
  </div>
<% else %>
<% end %>



</div>
