<div class="review-container">
  <h4 style="color:#6D0000; text-align:left">Tell us what you thought</h4>
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [recipe, review] do |f| %>
        <%= f.input :comment , label: false%>
        <%= f.input :rating, collection: (1..5).to_a, label: false, input_html: {data: {controller: "star-rating"}} %>
       <!-- <%= f.input :rating %> -->
        <%= f.submit "Submit", class:"secondary-btn" %>
      <% end %>
    </div>
  </div>
</div>
