<div class = 'food-categories-page'>
<%= render 'shared/search' %>

  <h1>Find Today's Recipe</h1>
  <h2>Choose available ingredients</h2>

  <div class = 'food-categories-wrapper'>
    <%  @food_categories.each do |food_category| %>
      <div class = 'food-category-card'>
          <div class = 'food-category-icon'>
            <% if food_category.name == 'Vegetables' %>
             <%= icon("fa-solid fa-carrot", style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Fruits' %>
              <%= icon("fa-solid fa-apple-whole" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Dairy' %>
              <%= icon("fa-solid fa-cow" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Meat' %>
              <%= icon("fa-solid fa-drumstick-bite" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Poultry' %>
              <%= icon("fa-solid fa-egg" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Seafood' %>
              <%= icon("fa-solid fa-fish" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Carbs' %>
              <%= icon("fa-solid fa-bread-slice" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Spices' %>
            <%= icon("fa-solid fa-mortar-pestle" , style:"color: #FFFFFF;") %>

            <% elsif food_category.name == 'Legumes' %>
              <%= icon("fa-solid fa-seedling" , style:"color: #FFFFFF;") %>
            <% else %>
            <% end %>
          </div>
            <div class = 'food-category-name'><%= food_category.name %></div>
            <%= link_to '', food_category_food_items_path(food_category), class: 'card-link'  %>

      </div>
    <% end %>
     <p class="time-btn"> <%= icon("fa-solid fa-clock", style:"color: #ee7d45;") %> 05-15 mins</p>
      <p class="time-btn"> <%= icon("fa-solid fa-clock", style:"color: #ee7d45;") %> 15-30 mins</p>
       <p class="time-btn"> <%= icon("fa-solid fa-clock", style:"color: #ee7d45;") %> 30-45 mins</p>

  </div>
      <%= link_to 'Show me recipes', recipes_path, class: 'primary-btn'%>
</div>
